.nft{
    user-select:none;
    max-width: 300px;
    margin: 5rem auto;
    border: 1px solid #ffffff22;
    background-color: #282c34;
    /* background: linear-gradient(0deg, rgba(40,44,52,1) 0%, rgba(17,0,32,.5) 100%); */
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: .7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: .5s all;
    

    ::before{
      position: fixed;
      content: "";
      box-shadow: 0 0 100px 40px #ffffff08;
      top: -10%;
      left: -100%;
      transform: rotate(-45deg);
      height: 60rem;
      transition: .7s all;
    }
    &:hover{
      border: 1px solid #ffffff44;
      box-shadow: 0 7px 50px 10px #000000aa;
      /* transform: scale(1.015); */
      filter: brightness(1.03);
      ::before{
        filter: brightness(.5);
        top: -100%;
        left: 200%;
      }
    }
}

.bubbles {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
}

.bubbleflav {
    background-color: #3d1700;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8em;
}
.bubbletype {
    background-color: #5e5e5e;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8em;
}
  
.image-container {
    width: 100%;
    height: 100%; /* Adjust the height as needed */
    overflow: hidden;
}

.content-overlap {
    margin-top: -20px; /* Adjust the value as needed to overlap the image */
    z-index: 1;
    position: relative;
}

