/* FilterBar.css */
.filter-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 1rem;
    padding: 1rem; */
    background-color: #ffffff;
    color: #0082cd;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;

    font-family: 'Courier New', Courier, monospace; /* Set font to Courier New */
    font-weight: bold; 

}

.filter-bar:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.dropdown-container {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 300px;
    min-width: 200px; /* Ensure minimum width to keep text on one row */
}

.dropdown-display {
    background-color: transparent;
    padding: 10px;
    border-radius: 0; /* Sharp edges */
    text-align: center;
    cursor: pointer;
    border: 1px solid #ffffff;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.dropdown-display:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    z-index: 1;
}

.dropdown-container:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ffffff;

}



.dropdown-item:hover {
    background-color: #f2f2f2;
}

@media (min-width: 768px) {
    .filter-bar {
        flex-direction: row;
        justify-content: center;
    }

    .dropdown-container {
        max-width: none;
        flex: 1;
    }
}