/* App.css */

.card-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* padding: 1rem; */
  flex-wrap: wrap; /* Ensure wrapping on smaller screens */
  margin-top: -1rem;
}

.card-item {
  flex: 1 1 300px; /* Flex-grow, flex-shrink, and flex-basis */
  max-width: 300px;
  box-sizing: border-box;
  display: inline-block;
  /* margin-right: 10px; */
}

@media (max-width: 768px) {
  .card-container {
    gap: -5rem; /* Negative gap for mobile view */
    margin-bottom: 3rem;

  }

  .card-item {
    margin-bottom: -5rem; /* Negative margin for mobile view */
  }
}
  
.courier {
  font-family: 'Courier New', Courier, monospace; /* Set font to Courier New */
  font-weight: bold; 
}


.heading-container {
  text-align: center;
  /* margin: 20px 0; */
  margin-top: 20px;
  /* margin-bottom: -3rem; */
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  color: #1D4ED8;

  /* padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.white-separator {
  border: 0;
  height: 2px;
  margin: 20px 0;
  background-color: white;
}

.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.carousel-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden; /* Prevent vertical scrolling */
  scroll-snap-type: x mandatory;
  gap: 10px;
  padding: 10px;
  height: 650px; /* Ensure the container height adjusts to the tallest card */
  scroll-behavior: smooth;
}

.card-container {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 80%; /* Adjust width for cards */
}

.card-item {
  width: 100%;
}

.carousel-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for a cleaner look */
}

.carousel-container {
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.carousel-arrow:disabled {
  display: none;
}

.result-table {
  width: 100%;
  border-collapse: collapse;
}

.result-table th, .result-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.result-table th {
  background-color: #f2f2f2;
  cursor: pointer;
}

.result-table th:hover {
  background-color: #ddd;
}

.result-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.result-table tr:hover {
  background-color: #ddd;
}