/* App.css */

.card-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* padding: 1rem; */
  flex-wrap: wrap; /* Ensure wrapping on smaller screens */
  margin-top: -1rem;
}

.card-item {
  flex: 1 1 300px; /* Flex-grow, flex-shrink, and flex-basis */
  max-width: 300px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .card-container {
    gap: -5rem; /* Negative gap for mobile view */
    margin-bottom: 3rem;

  }

  .card-item {
    margin-bottom: -5rem; /* Negative margin for mobile view */
  }
}
  
.courier {

  font-family: 'Courier New', Courier, monospace; /* Set font to Courier New */
  font-weight: bold; 
}

  