.result-row {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    transition: box-shadow 0.3s ease;
}

.result-row:hover {
    border: 1px solid #ffffff44;
    box-shadow: 0 0 10px #ffffffaa;
}

/* ResultRow.css */
.list-container {
    /* width: 100%; */
    /* max-width: 75%; */
    margin: 0 auto;
}


@media (min-width: 1024px) {
    .list-container {
        max-width: 75%;
    }
}

.image-container1 {
    background-color: white;
    border-radius: 8px; /* Adjust the radius as needed */
    padding: 4px; /* Adjust the padding as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw; /* Dynamic width based on viewport width */
    height: 20vw; /* Dynamic height to keep it a square */
    max-width: 96px; /* Maximum width */
    max-height: 96px; /* Maximum height */
}

.image1 {
    width: 100%;
    height: 100%;
    border-radius: 8px; /* Adjust the radius as needed */
    object-fit: cover;
}

/* ResultRow.css */
.image-responsive {
    width: 20vw; /* Dynamic width based on viewport width */
    height: 20vw; /* Dynamic height to keep it a square */
    max-width: 96px; /* Maximum width */
    max-height: 96px; /* Maximum height */
    border-radius: 8px; /* Adjust the radius as needed */
}

@media (min-width: 768px) {
    .image-responsive {
        width: 12vw; /* Adjust width for larger screens */
        height: 12vw; /* Adjust height to keep it a square */
        max-width: 96px; /* Maximum width for larger screens */
        max-height: 96px; /* Maximum height for larger screens */
    }
}

.zoom-out1 {
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

.bubbles1 {
    /* position: absolute; */
    bottom: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
}

.sitebubble {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.sitebubble:hover {
    background-color: #e0f7fa; /* Light cyan background on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover */
}

.separator {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
  }